{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "useTabs": false,
  "endOfLine": "lf"
}
